#container {
    background-color: skyblue;
    width: 90%;
    margin: auto;
    padding: 20px;

}

#gameboard {
    background-color: white;
    width: 60%;
    margin: auto;
}

table {
    margin: auto;
}
.catcard {
    padding: 5px;
    margin: auto;
}
