<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Webfont -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <title>Guess Mew</title>
    {% load staticfiles %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'mew/css/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'mew/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="masthead">
        <h1 class="text-muted">guess mew</h1>
            <div id="socialmedia">
                <img src="{% static "mew/images/twitter.png" %}" alt="Twitter" height="30" width="30"/>
                <img src="{% static "mew/images/facebook.png" %}" alt="Facebook" height="30" width="30"/>
                <img src="{% static "mew/images/email.png" %}" alt="E-mail us" height="30" width="30"/>
            </div>
            <nav>
                <ul class="nav nav-justified">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">New Game</a></li>
                  <li><a href="#">What Goes Here?</a></li>
                  <li><a href="#">It's a Mystery!</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="container">
        <div id="gameboard">
          {% if messages %}
          {% for message in messages %}
          <h2>{{message}}</h2>
          {% endfor %}
          {% endif %}
            <table>
                <tbody>
                    <tr>
                        {% if 1 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 2 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 3 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 4 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 5 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 6 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if 7 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 8 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 9 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 10 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 11 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 12 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if 13 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 14 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 15 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 16 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 17 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 18 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if 19 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 20 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 21 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 22 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 23 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if 24 in player_cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="right">
            <div id="guess">
                <h4>Does your cat have...</h4>
                <form action="{%url 'mew:game' %}" method="post">
                {% csrf_token %}
                    <label><input type="radio" name="option" value="white"> White fur?</label>
                    <label><input type="radio" name="option" value="black"> Black fur?</label>
                    <label><input type="radio" name="option" value="grey"> Grey fur?</label>
                    <label><input type="radio" name="option" value="orange"> Orange fur?</label>
                    <label><input type="radio" name="option" value="plain"> Plain fur?</label>
                    <label><input type="radio" name="option" value="striped"> Striped fur?</label>
                    <label><input type="radio" name="option" value="spotted"> Spotted fur?</label>
                    <label><input type="radio" name="option" value="glasses"> Glasses?</label>
                    <label><input type="radio" name="option" value="scarf"> A scarf?</label>
                    <label><input type="radio" name="option" value="hat"> A hat?</label>
                    <p><input type="submit" value="Guess!"></p>
                </form>
                <h2>Your kitty is {{player.chosencat.name}}</h2>
                <h4>There are {{opponent_cats.count}} Kitties remaining on your opponent's board! They're kitty is {{opponent.chosencat.name}}</h4>
                {% for cat in all_cats %}
                {{cat.name}}
                {% endfor %}
            </div>
        </div>
    </div>
    <h5>made with ♥ by your friends <a href="http://www.github.com/aesmale">amber</a> & <a href="http://www.github.com/allieneko">allie</a> © 2016-2017</h5>
</body>
</html>
