<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Webfont -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <title>Guess Mew</title>
    {% load staticfiles %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'mew/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="masthead">
        <h1 class="text-muted">guess mew</h1>
            <div id="socialmedia">
                <img src="{% static "mew/images/twitter.png" %}" alt="Twitter" height="30" width="30"/>
                <img src="{% static "mew/images/facebook.png" %}" alt="Facebook" height="30" width="30"/>
                <img src="{% static "mew/images/email.png" %}" alt="E-mail us" height="30" width="30"/>
            </div>
            <nav>
                <ul class="nav nav-justified">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">New Game</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Downloads</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="container">
        <div id="gameboard">
            <table>
                <tbody>
                    <tr>
                        {% if "Kyle" in player_cats.cats %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if "Griffey" %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if "Louise" %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if "Charles" %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if "Junior" %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                        {% if "Joe" %}
                        <td class="catcard"><img src="cat1.jpg" alt="here" height="100" width="100"></td>
                        {% else %}
                        <td class="catcard"><img src="cat1.jpg" alt="not here" height="100" width="100"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="catcard"><img src="cat7.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat8.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat9.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat10.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat11.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat12.jpg" alt="cat" height="100" width="100"></td>
                    </tr>
                    <tr>
                        <td class="catcard"><img src="cat13.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat14.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat15.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat16.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat17.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat18.jpg" alt="cat" height="100" width="100"></td>
                    </tr>
                    <tr>
                        <td class="catcard"><img src="cat19.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat20.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat21.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat22.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat23.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat24.jpg" alt="cat" height="100" width="100"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="guess">
            <h3>Does your cat have...</h3>
            <form action="{%url 'mew:game' %}" method="post">
            {% csrf_token %}
                <label><input type="radio" name="option" value="white">White fur?</label>
                <label><input type="radio" name="option" value="black">Black fur?</label>
                <label><input type="radio" name="option" value="grey">Grey fur?</label>
                <label><input type="radio" name="option" value="orange">Orange fur?</label>
                <label><input type="radio" name="option" value="plain">Plain fur?</label>
                <label><input type="radio" name="option" value="striped">Striped fur?</label>
                <label><input type="radio" name="option" value="spotted">Spotted fur?</label>
                <label><input type="radio" name="option" value="glasses">Glasses?</label>
                <label><input type="radio" name="option" value="scarf">A scarf?</label>
                <label><input type="radio" name="option" value="hat">A hat?</label>
                <p><input type="submit" value="Guess!"></p>
            </form>
            <h4>There are *p2.kitty.count Kitties remaining on your opponent's board!</h4>
            {% for cat in all_cats %}
            {{cat.name}}
            {% endfor %}
        </div>
    </div>
    <h5>made with ♥ by your friends <a href="http://www.github.com/aesmale">amber</a> & <a href="http://www.github.com/allieneko">allie</a> © 2016-2017</h5>
</body>
</html>
