<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guess Mew</title>
    {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'mew/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="container">
        <div id="gameboard">
            <table>
                <tbody>
                    <tr>
                        <td class="catcard"><img src="cat1.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat2.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat3.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat4.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat5.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat6.jpg" alt="cat" height="100" width="100"></td>
                    </tr>
                    <tr>
                        <td class="catcard"><img src="cat7.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat8.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat9.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat10.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat11.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat12.jpg" alt="cat" height="100" width="100"></td>
                    </tr>
                    <tr>
                        <td class="catcard"><img src="cat13.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat14.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat15.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat16.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat17.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat18.jpg" alt="cat" height="100" width="100"></td>
                    </tr>
                    <tr>
                        <td class="catcard"><img src="cat19.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat20.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat21.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat22.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat23.jpg" alt="cat" height="100" width="100"></td>
                        <td class="catcard"><img src="cat24.jpg" alt="cat" height="100" width="100"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>
